@import "tailwindcss";

:root {
  --background: #cbfbf1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  margin: 0;
}

.animated-typewriter {
  display: inline-block;
}

.animated-banner {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 2px solid;
  animation: typing 2s 2s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: black}
  100% {border-right-color: transparent}
}